GEMINI_API_KEY=tu-clave-de-google-ai-studio
VITE_API_URL=https://tu-proyecto.mockapi.io/api/v1
VITE_SPORTS_URL=https://site.api.espn.com/apis
VITE_DEPORTES_EQUIPO=17814
export const leaguename = import.meta.env.VITE_DEPORTES_NOMBRE_LIGA
VITE_DEPORTES_NOMBRE_LIGA=Primera Nacional
